

<div class="card w-75 container">
    <div class="card-body">
      <h5 class="card-title">Cargar archivo</h5>
      <p class="card-text">De click en el botón y seleccione el archivo de entrada</p>
      <input class="form-control" type='file' (change)="obtainParamsFromFile($event)"> <br>
  
      <a (click)="checkIfDownloadableFileExists()" *ngIf="generateFile && downloadableFile" class="btn btn-primary stretched-link" [href]="fileUrl" download="resultado.txt">Archivo de Salida</a>
    </div>
  </div>